# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# model files
*.pkl
# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Python cache
*.pyo
*.pyd

# Environment & dependency files (optional)
*.egg-info/
.eggs/
dist/
build/